<script type="text/json" id="bootstrap">
  {
    "movies": <%= @movies.to_json %>
  }
</script>
<script>
  $(function () {
    var div = $('<div></div>');
    div.html($('#bootstrap').text());
    var data = JSON.parse(div.text());
    MoviesApp.initialize(data);
  });
</script>
