body {
  font-family: arial;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}
.content {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
}
table {
  width: 100%;
}
th {
  text-align: left;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid black;
  margin: 0;
}
